//out: style.css

@import 'colors';

*{
	font-family: 'Open Sans', sans-serif;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	a{
		font-family: 'Open Sans', sans-serif;
		transition: all .5s ease 0s;
	}
}

// sidenav

//navigation buttons for smooth scrolls
#first-btn{
	color:white;
	&:hover{
		color: @mint-light;
	}
}
.navi-btn{
	margin-top: 2rem;
	color: @blue-light;
	&:hover{
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		cursor: pointer;
		color: @blue-dark;
	}
}

// all slides
.slide{
	width:100vw;
	h1{
		margin-top: 0;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		color:black;
		text-align: center;
		font-weight: 300;
	}
	//creates a fading hr effect for a classy header divide
	hr{
		width:55%;
		border: 0;
		height: 1px;
		background: #333;
		background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
		background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
		background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
		background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
	}
	.content{
		margin-top: 4rem;
	}
	.link-group{
		ul{
			display:inline-block;
			a{

				color:white;
				&:hover{
					color:@mint-light;
				}
			}
		}
		li{
			display:inline;
			margin-right: 4rem;
		}
	}
}

//first slide//
#slide1{
	height:100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/devl-desk.jpeg) center fixed no-repeat;
	background-color: rgba(55,55,55, .5);
	color:white;
	text-align: center;
	img{
		height:180px;
		width:180px;
	}
	#intro{
		margin-top:10rem;
	}
}

//second slide

#slide2{
	padding:4rem 2rem 4rem 2rem;
	height:100%;
	.about-me{
		table{
			width:45rem;
			display: block;
			margin-left: auto;
			margin-right: auto;
			thead{
				display: block;
				float: left;
				border: 0;
				border-right: 1px solid #d0d0d0;
				tr{
					display: block;
					padding: 0 10px 0 0;
					th{
						display: block;
						text-align: right;
						font-weight: normal;
						font-size: 21px;
					}
				}
			}
			tbody{
				display: block;
				width: auto;
				position: relative;
				overflow-x: auto;
				white-space: nowrap;
				tr{
					display: inline-block;
					vertical-align: top;
					td{
						display: block;
						min-height: 1.25em;
						text-align: left;
						font-weight: normal;
						font-size: 21px;
					}
				}
			}
		}
	}
}

#slide3{
	padding:4rem 2rem 4rem 2rem;
	height:100%;
	section{
		margin-top: 4rem;
	}
	.collapsible{
		li{
			color:@blue-light;
		}
	}
	.collapsible-body{
		padding:3%;
		h5{
			margin-bottom:1rem;
			text-decoration: underline;
		}
		img{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.card a{
		color:@blue-light;
		margin-left: 2rem;
	}
	.card-title{
		i{
			color:@blue-light;
		}
	}
	.card-content{
		.dev-pic{
			display:block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.card-image{
		img{
			height:250px;
			width:100%;
		}
	}
	.card-reveal{
		color:darken(@grey-light, 25%);
		background-color:@grey-light;
		.role{
			color:@blue-light;
		}
	}
}

//slide 4
#slide4{
	@-webkit-keyframes spaceboots {
		0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
		10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
		20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
		30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
		40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
		50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
		60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
		70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
		80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
		90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
		100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
	}
	.shake:hover,
	.shake:focus {
		-webkit-animation-name: spaceboots;
		-webkit-animation-duration: 0.8s;
		-webkit-transform-origin:50% 50%;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}
	.shake {
		display:inline-block
	}
	padding:4rem 2rem 4rem 2rem;
	height:100vh;
	h5{
		a{
			&:hover{
				color:@mint-light !important;
			}
		}
	}
	.contact{
		a{
			margin-top: 2rem;
			color:@blue-dark;
			font-size: 25px;

		}
		small{
			font-size:15px;
			color:@blue-light;
		}
	}
// .write-you-me{
// 	padding:2rem;
// 	label{
// 		font-size: 1rem;
// 		color:@blue-light;
// 	}
// 	input{
// 		margin-bottom: 4rem;
// 	}
// 	input[type=text]:focus,
// 	input[type=tel]:focus,
// 	input[type=email]:focus{
// 		box-shadow: 0 1px 0 0 @blue-light !important;
// 		border-bottom: 1px solid @blue-light !important;
// 	}

// 	.select-wrapper{
// 		margin-top: 0 !important;
// 	}
// 	.select-dropdown, .dropdown-content{
// 		color:@blue-light;
// 	}
// 	textarea{
// 		height:10rem;
// 	}
// }
}

//footer
footer{
	margin:0;
}
//email submission success page
// .such-success{
// 	height:100vh;
// 	width:100vw;
// 	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8)), url(../imgs/iphoney.jpeg) center center fixed no-repeat;
// 	background-color: rgba(55,55,55, .5);
// 	background-size: cover;
// 	color:white;
// 	.success-msg{
// 		padding:4rem;
// 		text-align: center;
// 		line-height: 25px;
// 	}
// 	h1{
// 		padding-top: 2rem;
// 		margin-top: 0;
// 	}
// 	h5{
// 		line-height: 45px;
// 	}
// 	hr {
// 		width: 55%;
// 		border: 0;
// 		height: 1px;
// 		background: whitesmoke;
// 		background-image: -webkit-linear-gradient(left, #F7F2F2, #887D7D, #F7F2F2);
// 		background-image:    -moz-linear-gradient(left, #F7F2F2, #887D7D, #F7F2F2);
// 		background-image:     -ms-linear-gradient(left, #F7F2F2, #887D7D, #F7F2F2);
// 		background-image:      -o-linear-gradient(left, #F7F2F2, #887D7D, #F7F2F2);
// 	}
// }


//#####################################  begin media query fun #####################################################//

//mobile devices// -- portrait
@media only screen and (min-width:300px) and (max-width:600px)
{

	h5.center{
		line-height: 3rem;
		&:first-child{
			margin-bottom: 4rem;
		}
	}

	.hos{
		display: none !important;
	}

	#slide1{
		height:105%;
		.link-group{
			position: absolute;
			margin-left: -100px;
			left: 50%;
		}

		h1{
			font-size: 3.5rem;
		}
		h4{
			font-weight: 500;
			font-size: 2.2rem;
		}
	}

	#slide2{
		.content{
			.col{
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
			a{
				font-size: 35px !important;
			}
			small{
				font-size: 12px !important;
			}
		}
	}
	#slide3{
		height:110%;
	}
	#slide4{
		height:100%;

		.content{
			a{
				font-size: 35px !important;
			}
			small{
				font-size: 12px !important;
			}
		}
	}
}
.such-success{
	.container{
		width:100vw !important;
	}
	padding:0;
	height:120%;

	h1{
		font-size: 3rem;
	}
	a{
		font-size: 2rem;
	}
}


@media only screen and (min-width:601px) and (max-width:992px)
{
	#slide2{
		.about-me{
			table{
				width:80%;
				margin-left: initial;
				margin-right: 0;
			}
		}
	}
}

@media only screen and (min-width:300px) and (max-width:992px)
{
	.hnl{
		display:none;
	}
}

// mobile devices -- landscape

@media only screen
and (min-device-width : 300px)
and (max-device-width : 650px)
and (orientation : landscape)
{
	.slide{
		height:100% !important;
	}

	#slide1{
		.link-group ul {
			display: inline-flex;
			float: none !important;

			margin-left: 11%;
		}
		#intro{
			margin-top: 0;
			margin-bottom: 4rem;
		}
	}
}


//######################################  end media query fun ######################################################//
